In [1]:
import pandas as pd
from scipy.stats import pearsonr

In [2]:
df=pd.read_csv('/content/INFY_Final_CNN.csv')
df

            Date  close price  compound  ...         high          low   volume
0     04-04-2016   621.849976    0.0000  ...   624.000000   606.775024  4577054
1     05-04-2016   609.900024    0.3818  ...   621.150024   607.000000  4790716
2     07-04-2016   590.750000    0.0000  ...   604.200012   587.500000  5657890
3     11-04-2016   591.950012   -0.4767  ...   593.375000   575.549988  5768678
4     12-04-2016   591.099976    0.8807  ...   597.450012   589.299988  5842138
...          ...          ...       ...  ...          ...          ...      ...
1108  23-04-2021  1333.800049    0.0000  ...  1348.400024  1331.000000  7316262
1109  26-04-2021  1343.550049    0.8225  ...  1351.300049  1321.000000  7088606
1110  27-04-2021  1348.500000    0.2960  ...  1353.000000  1340.150024  3636115
1111  28-04-2021  1356.000000    0.2023  ...  1359.500000  1344.599976  4879234
1112  29-04-2021  1356.349976    0.7783  ...  1369.000000  1351.400024  5412357

[1113 rows x 10 columns]

In [3]:
pos = df['pos']
neg=df['neg']
neu=df['neu']
compound=df['compound']
close = df['close price']

corr_pos, _ = pearsonr(close, pos)
corr_neg, _ = pearsonr(close, neg)
corr_neu, _ = pearsonr(close, neu)
corr_compound, _ = pearsonr(close, compound)

print('Pearsons correlation: %.3f' % corr_pos)
print('Pearsons correlation: %.3f' % corr_neg)
print('Pearsons correlation: %.3f' % corr_neu)
print('Pearsons correlation: %.3f' % corr_compound)

Pearsons correlation: 0.077
Pearsons correlation: -0.102
Pearsons correlation: 0.000
Pearsons correlation: 0.178